<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="finance_menu.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <finance_menu.My.MySettings>
            <setting name="rt_6M6A__PMP8G_Es2cT" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="w_4HD_w5Fqkv6ref_Kq" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="xZeyZSDtZ_M8PpJCn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y6X6eyNr_ZGNgPK2M" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="W84Ammg_gcy__LhxKja" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JVJtJ4z_A9V3FnwmS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y7pZ9AWbPxx_Cy_28X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xcwsG_2Pga_sEtwzcj" serializeAs="String">
                <value>0</value>
            </setting>
        </finance_menu.My.MySettings>
    </userSettings>
</configuration>